@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* min body height */

/* body {
  min-height: 100vh;
} */

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html,
body,
#root,
.app {
  height: 100dvh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: #111827;
}

#root {
  height: 100%;
}
